/.vscode
/1.py
/123.ipynb
/best_model.pth
/cars segmentation (camvid) .ipynb
/dataset.py
/sample_submission.csv
/segmentation_to_csv.py
/submission copy.csv
/submission.csv
/__pycache__
z.ipynb
t1.py
z1 copy.ipynb
z1.ipynb
